<div class="inedx-table">
    <ul class="index_schedule index-line">
        <li>
            <a ui-sref="account.todoTask.list({category:'wdxx'})">
                <img ng-src="../images/unread.png">
                我的未读消息
                                            <span ng-bind="taskSum.wdxx"></span>
            </a>
        </li>
    </ul>
    <ul class="index_schedule index-line">
        <li>
            <a ui-sref="account.todoTask.list({category:'wtbb'})" >
                <img src="../images/unread_two.png">
                我未完成的报表填报任务
                                            <span>
                                                 {{taskSum.wtbb}}
                                            </span>
            </a>
        </li>
    </ul>
    <ul class="index_schedule index-line">
        <li>
            <a ui-sref="account.todoTask.list({category:'wqq'})" >
                <img src="../images/unread_three.png">
                我的请求（未处理）
                                            <span>
                                                {{taskSum.wqq}}
                                            </span>
            </a>
        </li>
        <li>
            <a ui-sref="account.todoTask.list({category:'ckqq'})" >
                <img src="../images/unread_fore.png">
                我的请求（已处理未查看）
                                            <span>
                                                {{taskSum.ckqq}}
                                            </span>
            </a>
        </li>
    </ul>
    <ul class="index_schedule">
        <li>
            <a ui-sref="account.todoTask.list({category:'whddp'})" >
                <img src="../images/unread_five.png">
                我的电子凭证（财政未核对）
                                            <span>
                                                {{taskSum.whddp}}

                                            </span>
            </a>
        </li>
        <li>
            <a ui-sref="account.todoTask.list({category:'thddp'})" >
                <img src="../images/unread_six.png">
                我的电子凭证（被退回）
                                            <span>
                                                {{taskSum.thddp}}
                                            </span>
            </a>
        </li>
        <li>
            <a ui-sref="account.todoTask.list({category:'hdwcdp'})" >
                <img src="../images/unread_seven.png">
                我的电子凭证（已核对未查看）
                                            <span>
                                                {{taskSum.hdwcdp}}
                                            </span>
            </a>
        </li>
    </ul>
</div>