<!--不要使用名字-->
<div class="flrrightinfo">
    <!-- 这个是导航 需要跟踪变换，能链接-->
    <h5>我的一览表/ <span></span></h5>
    <hr/>
    <div class="flrrightmoule">
        <div><i></i><input id="flrsearch" ng-model="myFilter" type="text"/><button class="flrbutton">查询</button></div>
        <table class="table table-striped  table-condensed ">
            <tr>
                <td>类型</td>
                <td>发起人</td>
                <td>名称</td>
                <td>状态</td>
                <td>发起时间</td>
                <td>到期时间</td>
                <td>操作</td>
            </tr>
            <tr ng-repeat="item in taskInfos | filter:myFilter ">
                <td>{{item.lx}}</td>
                <td>{{item.fqr}}</td>
                <td>{{item.mc}}</td>
                <td>{{item.zt}}</td>
                <td>{{item.fqsj}}</td>
                <td>{{item.jssj}}</td>
                <td><a href="">{{item.id}}</a></td>
            </tr>
        </table>
    </div>
</div>