<!--index-->

<div class="index" >
    <!--middle-->
    <div class="index-middle">
        <div class="container " >
            <div class="row" ng-controller="TodoTaskController">
                <div class="reLogin" login-form on-login="sendLogin(user)"></div>
                <buttonn class="reloginClose">X</buttonn>
                <div class="col-md-12">
                    <div class="index-subtitle">
                        我的一览表
                    </div>
                </div>
                <div class="col-xs-8 col-md-8" >
                    <div ng-include="'account/taskSum.html'"></div>
                </div>
                <div class="col-xs-4 col-md-4">
                    <div class="inedx-table inedx-account">

                        <div class="account-head">
                            <img src="../images/head.png">
                                    <span>
                                        {{displayName}}
                                    </span>
                        </div>
                        <p class="account-enterprise">
                            温州数字财政服务平台
                        </p>
                        <div class="account-bottom">
                            <button ng-click="reLogin()" type="button" class="btn account-log">重新登录</button>
                            <button ui-sref="home" type="button" class="btn btn-danger account-log">安全退出</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--主页面通知公告and知识库 -->
        <div ng-include = "'portal/main.html'"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="index-subtitle">
                        业务系统
                        <a href="#">+查看更多</a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="#">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="#">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="#">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="#">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="#">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="#">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="#">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="#">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="#">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="#">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="#">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="#">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--middle-->

</div>
<!--index-->