<!--index-->
<div class="index">
    <!--banner-->
    <div class="index-banner">
        <div class="container">
            <div class="row">
                <div class="banner-left">
                    <p class="banner-year">
                        201
                                <span>
                                  6  
                                </span>
                    </p>
                </div>
                <div class="banner-right" ng-controller="AccountController" >
                    <div class="banner-box">
                    </div>
                    <div class="banner-relative" login-form on-login="sendLogin(user)">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner-->
    <!--middle-->
    <div class="index-middle">

        <!--主页面通知公告and知识库 -->
        <div ng-include = "'portal/main.html'"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="index-subtitle">
                        业务系统
                        <a href="">+查看更多</a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="index-business">
                        <a href="">
                            <img src="../images/logo1.png" class="center-block img-responsive">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--middle-->

</div>
<!--index-->