<div class="container" ng-controller="InformController">
    <div class="row">
        <div class="col-md-12">
            <div class="index-subtitle">
                通知公告
                <a ng-show="loadMore" ui-sref="list({state:'notice'})"   target="_blank">+查看更多</a>
            </div>
        </div>
        <div class="col-md-12" ng-hide="noThing">
            <h4 class="text-center">暂无通知公告信息！</h4>
        </div>
        <div class="col-xs-3 col-md-3" ng-repeat="s in informTops | orderBy:'s.yxj'" ng-show="noThing"  target="_blank">
            <div class="index-list">
                <img ng-src="../images/top.png" class="index-top" ng-show="s.yxj >= 9">
                <p class="index-topic center-block" data-toggle="tooltip" data-placement="top" title="{{s.bt}}">
                    {{s.bt}}
                </p>
                <div class="index-detail center-block">
                    {{s.nrjj}}
                </div>
                <a  ui-sref="informDetail.detail({listId:s.xxid})" class="index-btn center-block index-more"  target="_blank">
                    <span>查看详情</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="index-subtitle">
                知识库&资料下载
            </div>
        </div>
        <div class="col-md-12">
            <div class="index-knowledge clearfix">
                <div class="index-knowledge-left">
                    <div class="index-knowledge-brands">
                        <a ui-sref="list({state:'knowledge'})" class="center-block index-more index-whole"  target="_blank">
                            全部资料
                        </a>
                    </div>

                </div>
                <div class="index-knowledge-right" ng-controller="KnowledgeCtrl">
                    <ul class="index-ul">
                        <li ng-repeat="k in knowledges | limitTo:5">
                            <a ui-sref="knowledgeDetail.detail({xxid:k.xxid})" title="{{k.bt}}" target="_blank">
                                <!--<img ng-src="../images/{{k.type}}.png" />-->
                                {{k.bt}}
                                <span class="index-time" ng-bind="k.fbrq.substring(0,10)">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="index-knowledge clearfix">
                <div class="index-knowledge-left">
                    <div class="index-knowledge-brands index-knowledge-data">
                        <a ui-sref="list({state:'knowledge'})" class="center-block index-more index-whole" target="_blank">
                            全部资料
                        </a>
                    </div>

                </div>
                <div class="index-knowledge-right" ng-controller="DataCtrl">
                    <ul class="index-ul">
                        <li  ng-repeat="d in datas | limitTo:5">
                            <a ui-sref="knowledgeDetail.detail({xxid:d.xxid})" title="{{d.bt}}" target="_blank">
                                {{d.bt}}
                                <span class="index-time"  ng-bind="d.fbrq.substring(0,10)">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
