<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="index-subtitle">
                        通知公告
                        <a href="#">+查看更多</a>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="index-list">
                        <img src="../images/top.png" class="index-top">
                        <p class="index-topic center-block" data-toggle="tooltip" data-placement="top" title="活力青春•动杆财税”台球比赛举行">
                            活力青春•动杆财税”台球比赛举行
                        </p>
                        <div class="index-detail center-block">
                            近日，由温州市财政地税局机关党委、工会、团委主办、开发区分局承办的温州市第九届财...
                        </div>
                        <a href="#" class="index-btn center-block index-more">
                            阅读更多
                        </a>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="index-list">
                        <img src="../images/top.png" class="index-top">
                        <p class="index-topic center-block" data-toggle="tooltip" data-placement="top" title="活力青春•动杆财税”台球比赛举行">
                            活力青春•动杆财税”台球比赛举行
                        </p>
                        <div class="index-detail center-block">
                            近日，由温州市财政地税局机关党委、工会、团委主办、开发区分局承办的温州市第九届财...
                        </div>
                        <a href="#" class="index-btn center-block index-more">
                            阅读更多
                        </a>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="index-list">
                        <img src="../images/top.png" class="index-top">
                        <p class="index-topic center-block" data-toggle="tooltip" data-placement="top" title="活力青春•动杆财税”台球比赛举行">
                            活力青春•动杆财税”台球比赛举行
                        </p>
                        <div class="index-detail center-block">
                            近日，由温州市财政地税局机关党委、工会、团委主办、开发区分局承办的温州市第九届财...
                        </div>
                        <a href="#" class="index-btn center-block index-more">
                            阅读更多
                        </a>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="index-list">
                        <img src="../images/top.png" class="index-top">
                        <p class="index-topic center-block" data-toggle="tooltip" data-placement="top" title="活力青春•动杆财税”台球比赛举行">
                            活力青春•动杆财税”台球比赛举行
                        </p>
                        <div class="index-detail center-block">
                            近日，由温州市财政地税局机关党委、工会、团委主办、开发区分局承办的温州市第九届财...
                        </div>
                        <a href="#" class="index-btn center-block index-more">
                            阅读更多
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row"> 
                <div class="col-md-12">
                    <div class="index-subtitle">
                        知识库&资料下载
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="index-knowledge clearfix">
                        <div class="index-knowledge-left">
                            <div class="index-knowledge-brands">
                                <a ui-sref="list" class="center-block index-more index-whole" target="_blank">
                                    全部资料
                                </a>
                            </div>
                            
                        </div>
                        <div class="index-knowledge-right" ng-controller="KnowledgeCtrl">
                            <ul class="index-ul">
                            	<li ng-repeat="k in knowledges | orderBy:'djl':true | limitTo:5 ">
                            		<a ui-sref="knowledgeDetail({knowId:k.knowId})" title="{{k.title}}" target="_blank">
                            			<img ng-src="../images/{{k.type}}.png" />
                            				{{k.title}}
                                		<span class="index-time" ng-bind="k.date">
                                        </span>
                                    </a>
                            	</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="index-knowledge clearfix">
                        <div class="index-knowledge-left">
                            <div class="index-knowledge-brands index-knowledge-data">
                                <a href="#" class="center-block index-more index-whole">
                                    全部资料
                                </a>
                            </div>
                            
                        </div>
                        <div class="index-knowledge-right">
                            <ul class="index-ul">
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="我局取得全市党员干部讲故事比赛季军">
                                        <img src="../images/excel.png">
                                        我局取得全市党员干部讲故事比赛季军 
                                        <span class="index-time">
                                            2016-01-28
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="我局取得全市党员干部讲故事比赛季军">
                                        <img src="../images/ppt.png">
                                        我局取得全市党员干部讲故事比赛季军 
                                        <span class="index-time">
                                            2016-01-28
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="我局取得全市党员干部讲故事比赛季军">
                                        <img src="../images/excel.png">
                                        我局取得全市党员干部讲故事比赛季军 
                                        <span class="index-time">
                                            2016-01-28
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="我局取得全市党员干部讲故事比赛季军">
                                        <img src="../images/word.png">
                                        我局取得全市党员干部讲故事比赛季军 
                                        <span class="index-time">
                                            2016-01-28
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="我局取得全市党员干部讲故事比赛季军">
                                        <img src="../images/excel.png">
                                        我局取得全市党员干部讲故事比赛季军 
                                        <span class="index-time">
                                            2016-01-28
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
