<div class="section">
    <div class="index_message">
        <div class="container notice">
            <div class="guide">
                <a ui-sref="home">首页</a>
                >
                <a ui-sref="list({state:'notice'})">通知公告(知识库&资料下载)</a>
                >
                <a ui-sref="">公告详情</a>
            </div>

            <div class="mainSection">
                <div class="article">
                    <div ui-view="Detail"></div>
                </div>

                <div class="notice-list">
                        <p>通知公告</p>
                        <hr/>
                        <ol>
                            <li ng-repeat="kv in informList | limitTo:10">
                                <span></span>
                                <a ui-sref="informDetail.detail({listId:kv.xxid})" title="{{kv.bt}}" ng-bind="kv.bt">
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
