<!DOCTYPE html>
<html ng-app="FWPT">
<head>
  <title ng-bind="config.appinfo.title"></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <meta name="renderer" content="webkit">

  <meta name="keywords" content="{{config.appinfo.title}}" />
  <meta name="description" content="{{config.appinfo.title}}" />

  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../styles/app.css">
  <link rel="stylesheet" type="text/css" href="../styles/pagination.css">
  <!--<link href="app.less" type="text/css" rel="stylesheet/less">-->
</head>
<body>

  <!-- Livereload script for development only (stripped during dist build) -->
<!--  <script src="http://localhost:35729/livereload.js" data-concat="false"></script>-->

  <!-- JS from Bower Components -->
  <script src="../bower_components/less.js/dist/less-1.6.2.js" data-concat="false"></script>
  <script src="../bower_components/jquery/jquery.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../bower_components/underscore/underscore.js"></script>
  <script src="../bower_components/moment/moment.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../bower_components/angular-ui-utils/ui-utils.js"></script>
  <!-- Add New Bower Component JS Above -->

  <!-- add custom scripts above -->


  <!-- Main App JS -->
  <script src="../scripts/app.js"></script>
  <script src="../scripts/config/config.js"></script>
  <script src="../scripts/directives/directive.js"></script>
  <script src="../scripts/directives/pagination/pagination.js"></script>
  <script src="../scripts/services/accountService.js"></script>
  <script src="../scripts/controllers/accountController.js"></script>
  <!-- Add New Component JS Above -->

  <!--top-->
  <div ng-include="'portal/top.html'"></div>
  <!--top-->
  <div>
    <div ui-view>
    </div>
  </div>
  <!--footer-->
  <div ng-include="'portal/footer.html'"></div>
  <!--footer-->
</body>
</html>
