<table>
    <thead>
    <td>单位名称</td>
    <td>年度</td>
    <td>支付口令</td>
    <td>申报状态</td>
    <td>上报人</td>
    <td>上报日期</td>
    </thead>
    <tbody>
    <tr ng-repeat="data in datas">
        <td><span ng-bind="data.ysdwmc"></span></td>
        <td><span ng-bind="data.ssny"></span></td>
        <td><span ng-bind="data.zflh"></span></td>
        <td><span ng-bind="data.spzt"></span></td>
        <td><span ng-bind="data.spr"></span></td>
        <td><span ng-bind="data.spsj"></span></td>
    </tr>
    </tbody>
</table>
