<!DOCTYPE html>
<html ng-app="aaa">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../../bower_components/angular/angular.js"></script>
</head>
<body>
    <div ng-controller="TestController">
        <input type="checkbox" ng-model="box" ng-click="click()">
        {{box}}
    </div>
    <script>
        angular.module('aaa',[]).controller('TestController',['$scope',function($scope){
            $scope.click = function(){
                console.log($scope.box);
            }
        }])
    </script>
</body>
</html>