<div class="right">
    <ul class="note">
        <li>
            <a ui-sref="electronic">
                电子凭证
            </a>
            <i></i>
        </li>
        <li>
            <a ui-sref="electronic.allList">查看档案</a>
            <i></i>
        </li>
        <li>
            档案详情
        </li>
    </ul>
    <form action="" class="add-form">
        <div class="setting">
            <div class="form-group">
                <label>单位名称：</label>

                <div class="dropdown select">
                    <input type="text" class="form-control companyName" data-toggle="dropdown" value="{{oneData.ysdwmc}}" disabled/>
                </div>
            </div>

            <div class="form-group  has-feedback">
                <label>年度：</label>
                <input type="text" class="form-control year" value="{{oneData.ssny}}" disabled/>
            </div>
            <div class="form-group">
                <label for="num">支付令号：</label>
                <input type="text" class="form-control paynum" id="num" value="{{oneData.sflh}}" disabled/>
            </div>
        </div>
        <div class="intro">
            <span>档案说明：</span>

            <p></p>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>单位名称</th>
                <th>附件大小</th>
                <th>上传日期</th>
                <th>上传人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items track by $index">
                <td>{{item.cName}}</td>
                <td>{{item.docSize}}</td>
                <td>{{item.upTime}}</td>
                <td>{{item.upPerson}}</td>
                <td><a ng-click="delDoc(item.docId)">删除</a></td>
            </tr>
            </tbody>
        </table>

        <div class="state">
            <a ui-sref="electronic.allList"><button type="button" class="btn back">返回</button></a>
        </div>

    </form>


</div>