<div class="section">
    <div class="container">
        <div class="info">
            <div class="left">
                <span>电子档案</span>
                <ul>
                    <li>
                        <span  ng-click="tag()">
                            电子凭证
                            <i ng-class="{on:toggle}" ng-model="toggle"></i>
                        </span>
                        <ul class="manage" ng-class="{manageon:!toggle}">
                            <li>
                                <i class="report"></i>
                                <a ui-sref="electronic({category:'allList'})">总览</a>
                            </li>
                            <li>
                                <i class="add"></i>
                                <a ui-sref="electronic.addFile">新增档案</a>
                            </li>
                            <li>
                                <i class="revise"></i>
                                <a ui-sref="electronic.modifyList({category:'modifyList'})">修改档案</a>
                            </li>
                            <!--<li>-->
                                <!--<i class="report"></i>-->
                                <!--<a ui-sref="electronic.unpushList({category:'unpushList'})">上报档案</a>-->
                            <!--</li>-->
                            <li>
                                <i class="check"></i>
                                <a ui-sref="electronic.allList({category:'allList'})">查看档案</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span  ng-click="tag1()">
                            <a ui-sref="electronic({category:'allList'})">
                                其他档案
                            </a>
                            <i ng-class="{on:toggle1}" ng-model="toggle1"></i>
                        </span>
                        <ul class="manage" ng-class="{manageon:!toggle1}">
                            <li>
                                <i class="report"></i>
                                <a ui-sref="electronic({category:'allList'})">总览</a>
                            </li>
                            <li>
                                <i class="add"></i>
                                <a ui-sref="electronic.addFile">新增档案</a>
                            </li>
                            <li>
                                <i class="revise"></i>
                                <a ui-sref="electronic.modifyList({category:'modifyList'})">修改档案</a>
                            </li>
                            <li>
                                <i class="check"></i>
                                <a ui-sref="electronic.allList({category:'allList'})">查看档案</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div ui-view="list">
            </div>


        </div>
    </div>

</div>