<div class="right check">
    <ul class="note">
        <li>
            <a ui-sref="electronic">
                电子凭证
            </a>
            <i></i>
        </li>
        <li>修改档案</li>
    </ul>
    <form class="navbar-form" action="">
        <div class="form-group has-feedback">
            <label class="sr-only" for="search">搜索</label>
            <input class="form-control" id="search" type="text" placeholder="请输入关键字查询" ng-model="queryText"/>
            <span></span>
            <button class="btn btn-info" ng-click="queryFiles(queryText)">查询</button>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>单位名称</th>
            <th>年度</th>
            <th>支付口令</th>
            <th>申报状态</th>
            <th>上报人</th>
            <th>上报日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in listData">
            <td><span ng-bind="data.ysdwmc"></span></td>
            <td><span ng-bind="data.ssny"></span></td>
            <td><span ng-bind="data.zflh"></span></td>
            <td>
                <span  ng-switch="data.spzt">
                    <span ng-switch-when="0">未上报</span>
                    <span ng-switch-when="1">已上报</span>
                </span>
            </td>
            <td><span ng-bind="data.spr"></span></td>
            <td><span ng-bind="data.spsj"></span></td>
            <td><a ui-sref="electronic.modifyFile({id:data.id})">
                <input type="button" class="btn btn-default"value="编辑">
            </a></td>
        </tr>
        </tbody>
    </table>
    <nav class="navbar-right">
        <div conf="paginationConf"></div>
    </nav>

</div>