<div class="right check">
    <ul class="note">
        <li>
            <a ui-sref="electronic">
                电子凭证
            </a>
            <i></i>
        </li>
        <li>修改档案</li>
    </ul>
    <form class="navbar-form" action="">
        <div class="form-group has-feedback">
            <label class="sr-only" for="search">搜索</label>
            <input class="form-control" id="search" type="text" placeholder="请输入关键字查询"/>
            <span></span>
            <button class="btn btn-info">查询</button>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>单位名称</th>
            <th>年度</th>
            <th>支付口令</th>
            <th>申报状态</th>
            <th>上报人</th>
            <th>上报日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in listData">
            <td><span ng-bind="data.ysdwmc"></span></td>
            <td><span ng-bind="data.ssny"></span></td>
            <td><span ng-bind="data.zflh"></span></td>
            <td><span ng-bind="data.spzt"></span></td>
            <td><span ng-bind="data.spr"></span></td>
            <td><span ng-bind="data.spsj"></span></td>
            <td><a ui-sref="electronic.modifyFile({id:data.id})">修改</a></td>
        </tr>
        </tbody>
    </table>
    <div class="formPage">
        <ul>
            <li class="allPage">共有<span>7</span>条，每页显示50条</li>
            <li class="prev"><a href="">上一页</a></li>
            <li class="active"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li class="next"><a href="">下一页</a></li>
        </ul>
    </div>

</div>