<div class="section" ng-controller="ListCtrl">
    <!--middle-->
    <div class="index-middle">
        <div class="container notices">
            <div class="guide">
                <!--<div class="pos fr">-->
                <a ui-sref="home">首页</a>
                >
                <a ui-sref="list">通知公告(知识库&资料下载)</a>
                <!--</div>-->
            </div>

            <div class="mainSection">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" ng-class="{true:'active'}[noticeClass]"><a ng-click="showNotice()">通知公告</a></li>
                    <li role="presentation" ng-class="{true:'active'}[knowledgeClass]"><a ng-click="showKnowledge()">知识库&资料下载</a></li>
                </ul>
            </div>
            <div class="notice" ng-show="state=='notice'" ng-controller="ListInformCtrl">
                <div class="content">
                    <ul>
                        <li ng-repeat="v in informList">
                            <a ui-sref="informDetail.detail({listId:v.xxid})">
                                <b ng-show="v.yxj"></b>
                                <span class="program" ng-bind="v.bt"></span>
                                <span class="date" ng-bind="v.fbrq | limitTo:'10'"></span>
                                <!--<span class="date">{{v.fbrq | limitTo:'10'}}</span>-->
                            </a>
                        </li>
                    </ul>
                </div>
                <nav class="navbar-right">
                    <div conf="paginationConf"></div>
                </nav>
            </div>

            <div class="notice" ng-show="state=='knowledge'">
                <div class="content">
                    <ul>
                        <li ng-repeat="k in knowLists">
                            <a ui-sref="knowledgeDetail.detail({xxid:k.xxid})" title="{{k.bt}}">
                                <!--<img ng-src="../images/{{k.type}}.png" />-->
                                <span class="program" ng-bind="k.bt"></span>
                                <span class="date" ng-bind="k.fbrq.substring(0,10)">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <nav class="navbar-right">
                    <div conf="paginationConf"></div>
                </nav>
            </div>
        </div>

    </div>
</div>

