*{
    font-family: '微软雅黑', Microsoft YaHei, Helvetica, Tahoma;
}
body{
    font-size: 14px;
    min-width: 1170px !important;
}
ol,ul,li{
    list-style-type: none;
    margin-left: 0px;
}
a:hover{
    text-decoration: none;
}
.container{
    min-width: 1170px !important;
    margin: 0 auto;
}
img.normal{
    max-width: 100%!important;
    height: auto!important;
    width: expression(this.width > 600 ? "600px" : this.width)!important;
}
/*复写样式*/
input.form-control{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 38px;
    line-height: 38px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0);
}
.btn-info{
    background-color: #31c2ff;
    border: 1px solid #31c2ff;
    padding: 8px 30px;
}
.btn-info:hover{
    background-color: #fff;
    border: 1px solid #31c2ff;
    color: #31c2ff;
}
.btn-primary{
    background-color: #3b99fc;
    border: 1px solid #3b99fc;
    padding: 8px 30px;
}
.btn-danger{
    background-color: #9c221f;
    border-color: #9c221f;
}
.btn-primary:hover{
    background-color: #fff;
    border: 1px solid #3b99fc;
    color: #3b99fc;
}
.index-img{
    max-width: 100%!important;
    height: auto!important;
    width: expression(this.width > 600 ? "600px" : this.width)!important;
}
.border-shadow{
    box-shadow: 0 0 6px #ccc;
    -webkit-box-shadow: 0 0 6px #ccc;
    -moz-box-shadow: 0 0 6px #ccc;
}
/*复写样式*/
/*index*/
.index-nav{
    width: 100%;
    height: 82px;
    background-color: #fff;
    box-shadow: 0 0 6px #ccc;
    -webkit-box-shadow: 0 0 6px #ccc;
    -moz-box-shadow: 0 0 6px #ccc;
    font-size: 16px;
}
.index-nav .nav-pills{
    float: right;
    margin-top: 20px;

}
.index-nav .nav-pills a{
    color: #666;
    border-radius: 0px;
}
.index-nav .nav-pills a:hover , .index-nav .nav-pills a.active{
    background-color: #fff;
    color: #950909;
    border-bottom: 2px solid #950909;
}
/*banner*/
.index-banner{
    background-image: url(../images/banner_bj.jpg);
    background-repeat: repeat-x;
    width: 100%;
    height: 371px;
}
.banner-left{
    float: left;
    height: 371px;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: top right;
    width: 750px;
}
.banner-year{
    margin-left: 247px;
}
.banner-year , .banner-year span{
    color: #950909;
    font-size: 68px;
    margin-top: 180px;
    font-family: Arial;
    font-weight: bold;
}
.banner-year span{
    color: #fff;
    margin-left: -24px;
}
.banner-right{
    float: right;
    position: relative;
}
.banner-box{
    width: 372px;
    height: 291px;
    background-color: #fff;
    margin-top: 38px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}
.banner-relative{
    position: absolute;
    top: 38px;
    width: 374px;
    padding: 24px 32px;
}
.banner-security{
    float: left;
    width: 150px;
}
.banner-img{
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 38px;
    line-height: 38px;
    background-color: #fff;
    cursor: pointer;
}
.index-safety{
    margin-top: 20px;
}
.index-user{
    color: #950909;
}
.index-forget{
    text-align: right;
    display: block;
}
.index-btn{
    width: 100%;
    background-color: #950909;
    color: #fff;
    margin-top: 20px;
    border: 2px solid #950909;
}
.index-btn:hover{
    background-color: #fff;
    color: #950909;
    border: 2px solid #950909;
}
.index-middle{
    width: 100%;
    background-color: #f5f4f9;
    padding-bottom: 20px;
}
/*index-subtitle*/
.index-subtitle{
    margin-top: 34px;
    font-size: 24px;
    color: #333;
}
.index-subtitle > a{
    font-size: 14px;
    color: #666;
    float: right;
}
.index-subtitle > a:hover{
    color: #950909;
}
.index-list{
    background-color: #fff;
    width: 100%;
    height: 290px;
    border: 1px solid #ccc;
    margin-top: 27px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}
.index-top{
    position: absolute;
}
.index-topic{
    font-size: 16px;
    width: 145px;
    height: 44px;
    overflow: hidden;
    text-align: center;
    margin-top: 28px;
    color: #333;
}
.index-detail{
    border-top: 1px solid #ccc;
    width: 86%;
    margin-top: 20px;
    color: #666;
    text-indent: 2em;
    padding-top: 30px;
    height: 120px;
}
.index-more{
    width: 90px;
    text-align: center;
    height: 32px;
    line-height: 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
/*知识库资料下载*/
.index-knowledge{
    margin-top: 39px;
    background-color: #fff;
    width: 100%;
}
.index-knowledge-left{
    float: left;
    width: 250px;
    height: 294px;
    position: relative;
}
.index-knowledge-brands{
    width: 250px;
    height: 303px;
    background-image: url(../images/bj.png);
    padding-top: 200px;
    position: absolute;
    top: -9px;
    background-repeat: no-repeat;
}
.index-whole{
    background-color: #fff;
    color: #950909;
    width: 172px;
    height: 44px;
    line-height: 44px;
}
.index-knowledge-right{
    float: left;
    width: 902px;
    height: 294px;
    border: 1px solid #ccc;
    border-left: none;
    margin-left: -12px;
}
.index-ul{
    padding-left: 32px;
    margin-top: 20px;
}
.index-ul li{
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #f5f4f9;
}
.index-ul li a{
    color: #666;
    display: block;
}
.index-ul li a:hover{
    color: #950909;
}
.index-ul li a > span{
    float: right;
    margin-right: 20px;
}
.index-knowledge-data{
    background-image: url(../images/bj2.png);
}
.index-business{
    background-color: #fff;
    margin-top: 20px;
    width: 165px;
}
/*inedx-table*/
.inedx-table{
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    height: 292px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-top: 10px;
}
.index_schedule{
    padding-left: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
.index_schedule li{
    height: 32px;
    line-height: 32px;
}
.index_schedule li a{
    color: #666;
    display: block;
}
.index_schedule li a:hover{
    color: #950909;
    background-color: #f2eded;
}
.index_schedule li a > span{
    float: right;
    margin-right: 4px;
}
.index-line{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 4px;
}
.inedx-account{
    padding: 30px;
}
.account-head{
    width: 100%;
    height: 80px;
    background-color: #f5f4f9;
}
.account-head img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.account-enterprise{
    margin-top: 30px;
    font-size: 16px;
    margin-bottom: 30px;
}
.account-log{
    width: 142px;
}
.account-bottom{
    margin-top: 40px;
}
/*footer*/
.footer{
    width: 100%;
    height: 82px;
    line-height: 82px;
    background-color: #950909;
}
.footer-p , .footer-p a{
    text-align: center;
    color: #fff;
}
.inedx-table2{
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
    height: 392px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-top: 10px;
    float: left;
}
#flrtop{
    width: 100%;
    height: 30px;
    text-align: left;
}
#flrtop>span {
    display: inline-block;
    margin-left: 30px;
}
hr{
    height: 4px;
    padding: 0;
    margin: 0;
}
.flrrightinfo{
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 800px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-top: 10px;
    float: right;
}
.container2{
    min-width: 300px;
    margin: 30px auto;
}
.flrrightmoule,.flrrightinfo>h5,.flrrightinfo>hr{
    width: 760px;
    margin: 10px auto;
}
#flrsearch{
    width:610px;
    height:30px;
    border:1px solid #f6f6f6;
}
.flrbutton{
    color: #ffffff;
    background-color: #2196f3;
    width: 120px;
    height: 30px;
    text-align: center;
    margin: 10px 0px 10px 20px;
    border: none;
}
/*电子档案*/
.section {
    width: 100%;
    background-color: #f5f4f9;
    padding-bottom: 20px;
}
.info {
    margin-top: 33px;
}
.info:after {
    content: "";
    display: table;
    clear: both;
}
.left {
    float: left;
    width: 284px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 10px;
}
.left > span {
    font-size: 16px;
    line-height: 65px;
    padding-left: 15px;
}
.left > ul {
    padding: 0;
    margin: 0;
}
.left > ul > li {
    border-top: 1px solid #ccc;
}
.left > ul > li > span {
    margin-left: 15px;
    line-height: 58px;
}
.left > ul > li > span > i {
    float: right;
    width: 16px;
    height: 8px;
    margin: 25px 15px;
    background: url(../images/icon.png) no-repeat 1px -188px;
}
.left > ul > li > span > i.on {
    background-position: 0 -174px;
}
.manage {
    padding: 0;
    background-color: #f5f4f9;
}
.manageon {
    display:none;
}
.manage > li {
    line-height: 50px;
}
.manage > li > i {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 10px 0 26px;
    vertical-align: middle;
    background: url(../images/icon.png) no-repeat;
}
.manage > li > i.add {
    background-position: 0 0;
}
.manage > li > i.revise {
    background-position: 0 -17px;
}
.manage > li > i.report {
    background-position: 0 -34px;
}
.manage > li > i.check {
    background-position: 0 -52px;
}
.manage > li > a {
    color: #666666;
}
.manage > li > a:hover {
    color: #3299fe;
    text-decoration: none;
}
.right {
    float: right;
    width: 833px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 0 17px;
}
.note {
    border-bottom: 1px solid #e1e1e1;
    margin: 0;
    padding-left: 7px;
}
.note:after {
    content: "";
    display: table;
    clear: both;
}
.note > li {
    line-height: 55px;
    float: left;
}
.note > li i {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: url(../images/icon.png) no-repeat -54px -177px;
    margin-right: 5px;
}
.note > li > a {
    color: #000000;
}
.note > li> a:hover {
      color: #3299fe;
      text-decoration: none;
  }
.record form,
.check form,
.report form,
.revise form {
    padding: 0;
}
.record form > div > input,
.check form > div > input,
.report form > div > input,
.revise form > div > input {
    width: 643px !important;
    height: 39px;
    padding-left: 38px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-left: 6px;
    margin-right: 10px;
}
.record form > div > span,
.check form > div > span,
.report form > div > span,
.revise form > div > span {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/icon.png) no-repeat 0 -199px;
    top: 12px;
    left: 18px;
}
.record form > div button,
.check form > div button,
.report form > div button,
.revise form > div button {
    width: 128px;
    height: 39px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.record table,
.check table,
.report table,
.revise table {
    border: 1px solid #e1e1e1;
    width: 786px;
    margin-left: 6px;
    margin-top: 26px;
}
.record table thead,
.check table thead,
.report table thead,
.revise table thead {
    background-color: #F5F4F9;
}
.record table thead th,
.check table thead th,
.report table thead th,
.revise table thead th {
    height: 50px;
    vertical-align: middle;
}
.record table tbody td,
.check table tbody td,
.report table tbody td,
.revise table tbody td {
    height: 55px;
    vertical-align: middle;
}
.record .formPage,
.check .formPage,
.report .formPage,
.revise .formPage {
    margin-bottom: 30px;
    text-align: right;
    margin-right: 50px;
}
.record .formPage ul,
.check .formPage ul,
.report .formPage ul,
.revise .formPage ul {
    display: inline-block;
}
.record .formPage ul li,
.check .formPage ul li,
.report .formPage ul li,
.revise .formPage ul li {
    float: left;
    margin-right: 8px;
    text-align: center;
}
.record .formPage ul li a,
.check .formPage ul li a,
.report .formPage ul li a,
.revise .formPage ul li a {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    color: #666666;
}
.record .formPage ul .allPage,
.check .formPage ul .allPage,
.report .formPage ul .allPage,
.revise .formPage ul .allPage {
    height: 26px;
    line-height: 26px;
    margin-right: 40px;
    font-size: 12px;
}
.record .formPage ul .prev > a,
.check .formPage ul .prev > a,
.report .formPage ul .prev > a,
.revise .formPage ul .prev > a,
.record .formPage ul .next > a,
.check .formPage ul .next > a,
.report .formPage ul .next > a,
.revise .formPage ul .next > a {
    display: inline;
}
.record .formPage ul .active,
.check .formPage ul .active,
.report .formPage ul .active,
.revise .formPage ul .active {
    background-color: #950909;
}
.record .formPage ul .active a,
.check .formPage ul .active a,
.report .formPage ul .active a,
.revise .formPage ul .active a {
    color: #fff;
}
.record table .blank,
.report table .blank {
    padding-left: 25px;
}
.record table input,
.report table input {
    margin-right: 5px;
    vertical-align: text-top;
}
.record .formPage,
.report .formPage {
    height: 34px;
}
.record .formPage div,
.report .formPage div {
    float: left;
    margin-left: 20px;
}
.record .formPage div input,
.report .formPage div input {
    margin-right: 15px;
}
.record .formPage div button,
.report .formPage div button {
    width: 78px;
    height: 34px;
    background-color: #f7f7f7;
    border: 1px solid #e1e1e1;
}
.record .formPage ul,
.report .formPage ul {
    margin-top: 5px;
}
/*右边详情-具体部分-（新增档案、修改档案详情、查看档案详情）*/
.add-form {
    padding-left: 66px;
    padding-right: 95px;
}
.add-form .form-control,
.add-form .form-group {
    display: inline-block;
}
.add-form .form-group {
    line-height: 40px;
}
.add-form .form-group input {
    vertical-align: middle;
    height: 40px;
    line-height: 26px;
}
.add-form > .setting {
    width: 628px;
    margin: 25px 0 15px 0;
}
.add-form > .setting label {
    font-weight: 400;
}
.add-form > .setting .select {
    display: inline-block;
    margin: 0 32px 0 10px;
    vertical-align: middle;
}
.add-form > .setting .select .companyName {
    width: 340px;
}
.add-form > .setting .select .companyLists {
    width: 340px;
    height: 200px;
    overflow-x: hidden;
}
.add-form > .setting .select .companyLists > li a {
    line-height: 30px;
}
.add-form > .setting .year {
    margin-left: 10px;
    width: 106px;
}
.add-form > .setting .tip {
    width: 18px;
    top: 15px;
}
.add-form > .setting .tip i {
    display: block;
    width: 8px;
    height: 8px;
    background: url(../images/icon.png) no-repeat;
}
.add-form > .setting .tip i.top {
    background-position: -54px -193px;
}
.add-form > .setting .tip i.down {
    background-position: -54px -203px;
}
.add-form > .setting .paynum {
    width: 540px;
    height: 40px;
    margin-left: 10px;
}
.add-form > .setting .detail {
    width: 540px;
    height: 90px;
    margin-top:0px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding_top:6px;
    padding-left:12px;
    border: 1px solid #e1e1e1;
    float: right;
}
.add-form > .setting .choseFile {
    margin-left: 10px;
    width: 127px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.add-form > .setting .reportFile {
    width: 127px;
    background-color: #3398CC;
    color: #fff;
}
.add-form > .setting .fail {
    width: 135px;
    color: #fff;
    margin-left: 142px;
}
.add-form > table {
    border: 1px solid #e1e1e1;
}
.add-form > table thead {
    background-color: #f5f4f9;
}
.add-form > .intro {
    margin-top: 40px;
}
.add-form > .intro:after {
    content: "";
    display: table;
    clear: both;
}
.add-form > .intro p {
    width: 550px;
    height: 90px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    float: right;
}
.add-form > .state {
    margin-bottom: 29px;
}
.add-form > .state:after {
    content: "";
    display: table;
    clear: both;
}
.add-form > .state button {
    width: 110px;
    height: 33px;
    color: #fff;
    float: right;
    margin-left: 20px;
}
.add-form > .state button.save {
    background-color: #4989b9;
}
.add-form > .state button.sar {
    background-color: #9c221f;
}
.add-form > .state button.back {
    background-color: #aeafb1;
}
.messageBox{
    padding-left: 36px;
    padding-right: 35px;
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 800px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-top: 10px;
    float: right;
}

/*知识库样式*/
.knowledge-list{
    float: left;
    width: 1170px;
    border: 1px solid #ccc;
    border-left: none;
}

.page_right_nav{
    width: 1170px;
    margin: 0 auto;
    height: 35px;
    margin-top: 20px;
    line-height: 35px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.page_right_nav .colnum_name {
    text-indent: 30px;
    color: #0f6eae;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}


.page_right_nav .pos{
    padding-right: 20px;
}

.fr{
    float: left;
}

.knowledge-detail{
    border: 1px solid;
}
.knowledge-detail-show{
    width: 1100px;
    margin: auto;
}

.knowledge_title{
    line-height: 58px;
    font-size: 22px;
    color: #004AB5;
    text-align: center;
    font-weight: bold;
}

.knowledge_info{
    line-height: 20px;
    font-size: 12px;
    color:#b6b6b6;
    text-align: center;
}

.knowledge-content{
    font-size: 14px;
    line-height: 180%;
    margin: 20px;
}
.knowledge_upload{
    margin: 20px;
}

.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}
/*知识库样式*/
.messageBox{
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 800px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-top: 10px;
    float: right;
}
.minmessagebox>h2{
    text-align: center;
    font-size: 16px;
    margin:15px auto;
}
.minmessagebox>p{
   margin-top: 15px;
    margin:15px auto;
    text-indent: 2em;
}
/*消息类窗口预留*/
.detail {
    padding-left: 36px;
    padding-right: 35px;
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 800px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-top: 10px;
    float: right;}
/*消息类下的凭证类窗口样式*/
.reLogin{
    width: 380px;
    background-color: #ffffff;
    height: 350px;
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    opacity:0.8;
    border: 1px solid #555555;
    padding: 50px 30px;
    z-index: 9999;
    display:none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}
.reloginClose{
    width: 20px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: #000000;
    color: #ffffff;
    border-radius: 15px;
    border: 1px solid #ccc;

    position: fixed;
    margin: auto;
    z-index: 9999;
    top: -330px; left: 400px; bottom: 0; right: 0;
    display: none;
    cursor: pointer;
}
/*重新登录框样式*/
/*知识库样式*/
/*通知公告的样式--start*/
.inedx-table-list-inform{
    background-color: #fff;
    width: 100%;
    margin-top:18px;
    border: 1px solid #ccc;

}
.index-table-list-inform>div{
    background-color:#f5f4f9;
}
.inform_font{
    font-size:16px;
}
.index-bgcolor{
    background-color:#f5f4f9;
}
.index-ul{
    margin:0px 5px;
    padding:0px;
}
.index-ul li{
    margin: 0px;
    padding: 0px;
    height:100%;
}
.index-ul a{
    width:100%;
    margin: 0px;
    height:100%;
    padding: 0px;
}
.index_message{
    padding-top: 20px;
    padding-bottom:50px;
    background-color:#f5f4f9;
}
.inform_left{
    text-align:center;
    padding-top: 10px;
    font-weight: 700;
}
.inform_right{
    padding-top: 10px;
    padding-left:20px;
}
.circle_type{
    display:inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color:#e4393c;
}
.inform_li_list{
    margin:0px 0px 5px 0px;
    padding: 0px;
    font-size: 16px;
}
.border_list{
    border-top: 1px solid #ccc;
    margin-top: 30px;
    color: #666;
    /*text-indent: 2em;*/
    padding:20px 10px;
    margin: 10px;
}
.border_list_text{
    text-indent: 2em;
}
.index-list-informList{
    background-color: #fff;
    width: 100%;
    height:100%;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.inform_sign{
    margin:60px 10px 20px 20px;
}
/*通知公告的样式--end*/

/*通知公告和知识库*/
ul,
ol,
li {
    padding: 0;
    margin: 0;
}
.notices .mainSection {
    border: 1px solid #e1e1e1;
    width: 1140px;
    margin-bottom: 20px;
}
.notices .mainSection > ul {
    width: 1116px;
    height: 50px;
    margin-left: 12px;
}
.notices .mainSection > ul li a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 47px;
    line-height: 28px;
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.notices .mainSection > ul li.active {
    border-top: 3px solid #950909;
}
.notices .notice,
.notices .knowledge {
    background-color: #fff;
    width: 1138px;
}
.notices .notice > .content,
.notices .knowledge > .content {
    padding-top: 10px;
}
.notices .notice > .content ul,
.notices .knowledge > .content ul {
    padding: 0;
    margin: 0;
    width: 1084px;
    margin-left: 17px;
}
.notices .notice > .content ul li,
.notices .knowledge > .content ul li {
    border-bottom: 1px dashed #cbcbcb;
    position: relative;
}
.notices .notice > .content ul li a,
.notices .knowledge > .content ul li a {
    display: block;
    height: 47px;
    line-height: 47px;
    width: 1084px;
    color: #666666;
    text-decoration: none;
}
.notices .notice > .content ul li a .date,
.notices .knowledge > .content ul li a .date {
    float: right;
}
.notices .notice > .content ul li a .program,
.notices .knowledge > .content ul li a .program {
    margin-left: 17px;
}
.notices .notice > .content ul li a b,
.notices .knowledge > .content ul li a b {
    position: absolute;
    width: 13px;
    height: 16px;
    background: url(../images/icon.png) no-repeat 0 -154px;
    top: 15px;
}
.notices .notice > .page,
.notices .knowledge > .page {
    padding-top: 20px;
    text-align: center;
}
.notices .notice > .page ul,
.notices .knowledge > .page ul {
    display: inline-block;
}
.notices .notice > .page ul li,
.notices .knowledge > .page ul li {
    float: left;
    margin-right: 15px;
    text-align: center;
}
.notices .notice > .page ul li a,
.notices .knowledge > .page ul li a {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    color: #666666;
}
.notices .notice > .page ul .prev > a,
.notices .knowledge > .page ul .prev > a,
.notices .notice > .page ul .next > a,
.notices .knowledge > .page ul .next > a {
    display: inline;
}
.notices .notice > .page ul .active,
.notices .knowledge > .page ul .active {
    background-color: #950909;
}
.notices .notice > .page ul .active a,
.notices .knowledge > .page ul .active a {
    color: #fff;
}
.notices .knowledge > .content ul li a b {
    width: 26px;
    height: 26px;
    background: url(../images/icon.png) no-repeat 0 -72px;
}
.notices .knowledge > .content ul li a .program {
    margin-left: 30px;
}
.notices .knowledge {
    display: none;
}
.notices .guide,
.notice .guide {
    margin-top: 20px;
    margin-bottom: 20px;
}
.notices .guide ol,
.notice .guide ol {
    height: 15px;
    line-height: 15px;
}
.notices .guide ol li,
.notice .guide ol li {
    float: left;
}
.notices .guide ol li span,
.notice .guide ol li span {
    display: inline-block;
    width: 7px;
    height: 8px;
    background: url(../images/icon.png) no-repeat -54px -168px;
    margin-left: 5px;
    margin-right: 5px;
}
/*通知公告和知识库*/

/*公告详情*/
.notice .mainSection > div {
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding-left: 17px;
    padding-right: 17px;
    padding: 0 17px 10px 17px;
}
.notice .mainSection .article {
    float: left;
    width: 804px;
}
.notice .mainSection .article h2 {
    color: #950909;
    text-align: center;
}
.notice .mainSection .article p {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
}
.notice .mainSection .notice-list {
    float: right;
    width: 316px;
}
.notice .mainSection .notice-list p {
    margin: 18px 0 0 10px;
    font-size: 16px;
}
.notice .mainSection .notice-list hr {
    margin-top: 15px;
}
.notice .mainSection .notice-list ol {
    margin-left: 8px;
}
.notice .mainSection .notice-list ol span {
    display: inline-block;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #950909;
    margin: 10px 8px 0 0;
}
/*公告详情--end*/

/*报表填报*/
.index-middle:before {
    display: table;
    content: " ";
    clear: both;
}
.fill,
.search {
    margin-top: 32px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 12px;
    border: 1px solid #e1e1e1;
}
.fill .title,
.search .title {
    height: 53px;
    border-bottom: 1px solid #e1e1e1;
}
.fill .title > span,
.search .title > span {
    font-size: 16px;
    margin-top: 17px;
    display: inline-block;
    margin-left: 10px;
}
.fill .title form,
.search .title form {
    display: inline-block;
    float: right;
    line-height: 54px;
}
.fill .title form > div,
.search .title form > div {
    position: relative;
}
.fill .title form > div .input-inline,
.search .title form > div .input-inline {
    display: inline-block;
    vertical-align: middle;
    line-height: 26px;
}
.fill .title form > div input,
.search .title form > div input {
    border-color: #e1e1e1;
    width: 305px !important;
    height: 39px;
    border-radius: 2px;
    padding-left: 38px;
}
.fill .title form > div > span,
.search .title form > div > span {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/icon.png) no-repeat 0 -199px;
    top: 21px;
    left: 12px;
}
.fill .title form > div button,
.search .title form > div button {
    width: 128px;
    height: 39px;
    border-radius: 2px;
    background-color: #2196F3;
}
.fill .formSection .formContent,
.search .formSection .formContent {
    margin-top: 36px;
}
.fill .formSection .formContent table,
.search .formSection .formContent table {
    width: 1081px;
    border: 1px solid #D5D4D5;
    margin-left: 29px;
}
.fill .formSection .formContent table thead,
.search .formSection .formContent table thead {
    background-color: #F5F4F9;
}
.fill .formSection .formContent table thead th,
.search .formSection .formContent table thead th {
    height: 50px;
    vertical-align: middle;
    padding-left: 20px;
}
.fill .formSection .formContent table td,
.search .formSection .formContent table td {
    height: 55px;
    vertical-align: middle;
    padding-left: 20px;
}
.fill .formSection .formPage,
.search .formSection .formPage {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    margin-right: 50px;
}
.fill .formSection .formPage ul,
.search .formSection .formPage ul {
    display: inline-block;
}
.fill .formSection .formPage ul li,
.search .formSection .formPage ul li {
    float: left;
    margin-right: 15px;
    text-align: center;
}
.fill .formSection .formPage ul li a,
.search .formSection .formPage ul li a {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    color: #666;
}
.fill .formSection .formPage ul .allPage,
.search .formSection .formPage ul .allPage {
    height: 26px;
    line-height: 26px;
    margin-right: 40px;
}
.fill .formSection .formPage ul .prev > a,
.search .formSection .formPage ul .prev > a,
.fill .formSection .formPage ul .next > a,
.search .formSection .formPage ul .next > a {
    display: inline;
}
.fill .formSection .formPage ul .active,
.search .formSection .formPage ul .active {
    background-color: #950909;
}
.fill .formSection .formPage ul .active a,
.search .formSection .formPage ul .active a {
    color: #fff;
}
/*报表查询*/